body {
    margin: 0;
    background-color: #676f71;
    font-family: sans-serif;
    margin: 0 50px;
}

.titles {
    color: white;
    background-color: rgb(65, 65, 65);
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    white-space: normal;
}

#languagesContainer, #frameworksFrontContainer, #frameworksBackContainer, #frameworksCrossPlateformContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerContainer {
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 25px 25px 0 0;
    font-size: 10px;
    padding: 5px;
}

.cardTitle {
    margin: 0;
}

.cardContainer {
    width: 15%;
    margin: 2%;
}

.bodyContainer {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    height: 100%;
}

img {
    /* height: 40%; */
    width: 50%;
    margin: 25%;
}

.buttonCard {
    margin: 0 10px 0 10px;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footerContainer {
    height: 25px;
    border-radius: 0 0 25px 25px;
}

.horizTranslate {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: linear;
}

.horizBack {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transition-timing-function: linear;
}

p {
    margin: 10px;
    text-align: center;
}
